body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 16px;
}

h1 {
    color: goldenrod;
}

h2 {
    color: goldenrod;
    text-decoration: underline;
}

img {
    max-width: 100px;
    height: auto;
}

#message-el {
    font-size: 26px;
    font-style: italic;
    background: whitesmoke;
    color: #016f32;;
}

#playing-table {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-gap: 1rem;
    align-items: center;
    padding: 10px;
    /*width: 75%;
    margin-left: 12.5%;
    margin-bottom: 10%;*/
}

#player {
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 50%;*/
    border: goldenrod;
    border-style: double;
    border-width: 4px;
}

#dealer {
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 50%;*/
    border: goldenrod;
    border-style: double;
    border-width: 4px;
}

#player-cards-el {
    visibility: hidden;
}

#dealer-cards-el {
    visibility: hidden;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

#hitbtn {
    background:darkgray;
}

#standbtn {
    background:darkgray;
}

#doublebtn {
    background: darkgray;
}

/*#buttonrow {
    width: 100%;
}*/

#stats {
    width: 50%;
    margin-left: 25%;
    background: black;
    opacity: 80%;
}

#stats-leftCol {
    background:inherit;
    width: 45%;
    float: left;
    text-align: left;
    padding: 10px;
}

#stats-rightCol {
    background: inherit;
    width: 45%;
    float: right;
    text-align: left;
    padding: 10px;
}